section{
    background-color: aquamarine;
    width: 100%;
    height: 50vh;
    /* border:2px solid royalblue; */
}
/* IPADDRESS TRACKER */
.id-tracker{
    text-align: center;
    color: white;
  
}
/* INPUT/button */
#caller{
    /* border: 2px  solid red; */
    display: flex;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
input{
    border-radius: 10px 0px 0px 10px;
    padding: 25px;
    width: 90%;
    /* padding: 25px; */
    
}
.submit{
    border-radius:0px 10px 10px 0px;
    width: 10%;
    color: white;
    background-color: black;
    padding: 20px;

}

::placeholder{
    color: hsl(0, 0%, 17%);
}

/* IP ADDRESS POSITIONING */
.Ip-address{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border:5px solid yellowgreen; */
    width: 70%; 
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color:white;
    color: black;
    position:absolute;
    top: 20.5%;
    left: 12%;
    z-index: 10;

}
.tracker-1{
    background-image: url(images/pattern-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    /* border: 12px solid yellow; */
    position:relative;

}

/* IP ADDRESS HOLDER */

.Ip-address1{
    border-right: 1px solid grey;
    margin-right: 30px;
    justify-items: center;
    font-weight: 900;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}

.locator{
    /* border: 4px solid rgb(147, 105, 211); */
    border-right: 1px solid grey;
    margin-right: 30px;
    justify-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;  
}

.Timezone{
    /* border: 4px solid cyan; */
    border-right: 1px solid grey;
    margin-right: 30px;
    justify-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}
.isp{
    /* border: 4px solid orangered; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    padding: 10px,0;
    
}

/* map locator */
#map{
    /* width:80%; */
    height :70vh;
    z-index: 5;

}
/* p tags and h tag */
p{
    color:  hsl(0, 0%, 59%);
    
}
h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    padding: 0;
    /* margin: 0; */
    
}
h1{
    font-size: 18px;
    font-weight: 700;
    color:whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* media query */


/* mobile */
@media(max-width:375px) {
    .Ip-address{
       
       grid-template-columns:1fr;
       top: 10%;
       width: 60%;
       text-align: center;
       height: auto;
       margin: 0,auto;
       /* height: 50vh; */

        
    }
    .search{
        width: 78%;
        font-size: 10px;
        padding: auto;
    }
    .Ip-address1{
        height: 10vh;
        border-right:none;
    }
 .locator{
        height: 10vh;
        border: none;


 }
 #caller{
     width:74.5%;
     margin-left:12px;
     
 }
  .Timezone{
        height: 10vh;
        border-right:none;

  }
  .isp{
      height: 10vh;
      text-align: center;
  }
  p{
      font-size: 9px;
  }
  h1{
      font-size: 11px;
      font-weight: 900;
  }
  h3{
      font-size: 11px;
      font-weight: 900;

  }
  h2{
      font-size: 11px;
      font-weight: 900;

  }
  .tracker-1{
    background-image: url(images/pattern-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    position:relative;

}
}
@media(max-width:750px){
    .Ip-address{
       
        grid-template-columns:1fr;
        top: 19%;
        width: 60%;
        text-align: center;
        height: 50vh;
         
     }
     .search{
        width: 78%;
        font-size: 10px;
        padding: auto;
     }
     .Ip-address1{
        height: 10vh;
        border-right:none;

     }
  .locator{
        height: 10vh;
        border-right:none;
         
  }
   .Timezone{
        height: 10vh;
        border-right:none;

   }
   .isp{
       height: 10vh;
       
   }
   p{
       font-size: 9px;
   }
   h1{
       font-size: 11px;
       font-weight: 900;
   }
   h3{
       font-size: 11px;
       font-weight: 900;
 
   }
   h2{
       font-size: 11px;
       font-weight: 900;
 
   }
   .tracker-1{
     background-image: url(images/pattern-bg.png);
     background-size: cover;
     background-repeat: no-repeat;
     height: 40vh;
     position:relative;
 
}


}
/* Desktop */